<!DOCTYPE html>
<html>
<head>
	<title>
	Graphics Requests
	</title>
	<style>
	p, div, body { font-family: Comic Sans MS; }
	body { font: 14px; }
	.imgWrap {
  		position: relative;
  		height: 200px;
  		width: 257px; }

	.imgDescription {
  		position: absolute;
  		top: 0;
  		bottom: 0;
  		left: 0;
  		right: 0;
  		background: rgba(29, 106, 154, 0.72);
  		color: #fff;

  		visibility: hidden;
  		opacity: 0; }

	.imgWrap:hover .imgDescription {
  		visibility: visible;
  		opacity: 1; }

	</style>
</head>
<body>

	<div align="right">
		<form action="http://127.0.0.1:8000/auth_logout/">
			<h3>Hi there, 
			{% if user.is_authenticated %}
					{{user.get_full_name}}  <input type="submit" value="Log out" ></input> 
		</form>
			{% else %}
			<form action="http://127.0.0.1:8000/login/">
					Please log in <input type="submit" value="Log in"></input>
			</form>
			{% endif %}
			</h3>
		 <!-- fix bug for logging in. currently goes to log out page because the form -->
	</div> 

	<div>
		<h1>
			<center>Graphics Requests</center>
		</h1>
	</div>

{% block content %}
{% endblock %}


</body>
</html>