
{% extends 'requests/base.html' %}

{% block content %}

	<div align="right">
		<form action="http://127.0.0.1:8000/home">
			<button>
				Change Request Type
			</button>
		</form>
	</div>

	<div class="request">
	<h2>Awesome, thanks for getting in touch. Could you give us a bit more information on what you need?</h2>

	<form action='http://127.0.0.1:8000/detailed_request/' method="POST"> 
		{% csrf_token %}

		Your name: {{ form.requestorName}} <br>
		Who is our point of contact (if not you): {{ form.contactName }} <br>
		Contact email: {{ form.contactEmail }} <br>
		When will this story publish? {{ form.publishDate }} <br>
		Describe the topic and what sorts of graphics you might need: {{ form.details }} <br>
		Is there an existing article? {{ form.isExistingArticle }} <br> 
		If yes, is it in methode/wordpress (provide URL): {{ form.providedURL }} <br>
		Slug: {{ form.slug }} <br>
		Attach any data or resources that could be helpful: <input type="file" name="addFiles"></input> <br>

	    <input type="submit" value="Submit Request"></input> 

	    {% if messages %}
	    <ul class="messages">
	    	{% for message in messages %}
	    		{{ message }}
	    	{% endfor %}
	    </ul>
	    {% endif %}
	    

	</form>
	</div> <br><br> 

	<center>
		<form action="http://127.0.0.1:8000/index">
		    <button>
		    	<p> View All Requests</p>
		    </button>
		</form>
	</center>

{% endblock %}
