
{% extends 'requests/base.html' %}
{% load staticfiles %}

{% block content %}
	<br>
	<div style="float: left; width: 50%;">
		<ul> 
		<center>
		<form action="http://127.0.0.1:8000/detailed_request/">
			<button style="background-color: #00cccc; font: bold 12px Comic Sans MS; color: white">
			<h2>
				I need a graphic for an upcoming story
			</h2>
			</button> 
		</form> 
			<br>
			<div class="imgWrap">
	  			<img src="/static/images/i.png" alt="polaroid" style="width:50px;height:50px;"/>
	  			<p class="imgDescription">Good for shorter term charts, maps, and illustrations. <br><br> We provide graphic support and depth to reporting that has already happened or is in progress.</p>
			</div>
		</center>
		</ul>
	</div>

	<div style="float: right; width: 50%;">
		<ul>
		<center>
		<form action="http://127.0.0.1:8000/idea_request/">
			<button style="background-color: #00cccc; font: bold 12px Comic Sans MS; color: white">
			<h2>
				I'm just starting to explore an idea
			</h2>
			</button>
		</form>
			<br>
			<div class="imgWrap">
	  			<img src="/static/images/i.png" alt="polaroid" style="width:50px;height:50px;"/>
	  			<p class="imgDescription">Good for longer term investigative projects, news applications, and new/creative story templates. <br><br> We help shape the content, form and trajectory of a project.</p>
			</div>
			</center>
		</ul>
	</div>

	<center><a href="http://127.0.0.1:8000/index" > Check the status of a project or view all existing projects </a></center>


{% endblock %}