
{% extends 'requests/base.html' %}

{% block content %}

	<div align="right">
		<form action="http://127.0.0.1:8000/home">
			<button>
				Add New Request
			</button>
		</form>
	</div>

	<h3><center>List of requests</center></h3>

	<div style="float: left; width: 50%;">
		<ul>
		<form>
			<button>
			<h2>
				Unassigned Requests
			</h2>
			</button> 
		</form>
			<table>
			<td><b> ID </b></td> <td><b> Slug </b></td>  <td><b> Contact Name </b></td> <td><b> Publication Date </b></td>
				{% if requests_list %}
					{% for r in requests_list %}
						{% if r.isAssigned != "yes" %}
							<tr>
								<td> {{r.id}} </td>
								<td> {% if r.slug == '' %} n/a 
								{% else %} {{r.slug}} {% endif %} </td> 
								<td> {{r.contactName}} </td> 
								<td> {% if r.publishDate == '' %} n/a
								{% else %} {{r.publishDate}} {% endif %} </td>
							</tr>  
						{% endif %}
					{% endfor %}
				{% endif %}
			</table>
		</ul>
	</div>

	<div style="float: right; width: 50%;">
		<ul>
		<form>
			<button>
			<h2>
				Requests In Progress 
			</h2>
			</button>
		</form>
			<table>
			<td><b> ID </b></td> <td><b> Slug </b></td>  <td><b> Contact Name </b></td> <td><b> Publication Date </b></td>
				{% if requests_list %}
					{% for r in requests_list %}
						{% if r.isAssigned == "yes" %}
						<tr>
							<td> {{r.id}} </td>
							<td> {% if r.slug == '' %} n/a 
							{% else %} {{r.slug}} {% endif %} </td> 
							<td> {{r.contactName}} </td> 
							<td> {% if r.publishDate == '' %} n/a
							{% else %} {{r.publishDate}} {% endif %} </td>
						</tr>
						{% endif %}
					{% endfor %}
				{% endif %}
			</table>
		</ul>
	</div> 


{% endblock %}

