
{% extends 'requests/base.html' %}

{% block content %}

	<div align="right">
		<form action="http://127.0.0.1:8000/home">
			<button>
				Add New Request
			</button>
		</form>
	</div>

	<h3><center>List of requests</center></h3>


<!-- 
	<tr>
		<td><a href="?order_by=slug"><input type="submit" value="Slug"></a></td>
		<td><a href="?order_by=publication_time"><input type="submit" value="publication_time"></a></td>
	</tr>
-->	


	<div style="float: left; width: 50%;">
		<ul>
		<form>
			<button>
			<h2>
				Unassigned Requests
			</h2>
			</button> 
		</form>

			<table>
			<td><b> Slug </b></td>  <td><b> Contact Name </b></td> <td><b> Publication Date </b></td>
				{% if requests_list %}
					{% for r in requests_list %}
						{% if r.isAssigned != "yes" %}
							<tr>
								<td> {{r.slug}} </td> <td> {{r.contactName}} </td> <td> {{r.publishDate}} </td>
							</tr>  
						{% endif %}
					{% endfor %}
				{% endif %}
			</table>
		</ul>
	</div>

	<div style="float: right; width: 50%;">
		<ul>
		<form>
			<button>
			<h2>
				Assigned Requests
			</h2>
			</button>
		</form>

			<table>
			<td><b> Slug </b></td>  <td><b> Contact Name </b></td> <td><b> Publication Date </b></td>
				{% if requests_list %}
					{% for r in requests_list %}
						{% if r.isAssigned == "yes" %}
						<tr>
							<td> {{r.slug}} </td> <td> {{r.contactName}} </td> <td> {{r.publishDate}} </td>
						</tr>
						{% endif %}
					{% endfor %}
				{% endif %}
			</table>

		</ul>
	</div>

	
	

{% endblock %}

