{% load staticfiles %}

  <div class="request">
    <h1>Please fill out the following information.</h1>
    <p><i>Thanks for getting in touch with this request.</i></p>
    <p><i>Before we can evaluate the assignment and determine whether we can or should assign it, we need the following information:</i></p>
    <form action="index.html">
      Planned Date and Time of Publication:
      <input type="text" name="publicationTime"><br>
      Slug:
      <input type="text" name="slug"><br>
      Editor:
      <input type="text" name="editor"><br>
      Reporter:
      <input type="text" name="reporter"><br>
      <!-- edit graphic explanation for larger text box. edit data to say if yes include other. same for understanding story. select out of 3 for last question-->
      <style>
        label textarea{
        vertical-align: middle;
        }
      </style><label>What would this graphic show/explain?
      <textarea name="details" rows=6 cols=40></textarea></label><br>
      Is the reporter providing data?
      <form>
        <input type="radio" name="isDataSupllied" value="yes"> Yes
        <input type="radio" name="isDataSupllied" value="no"> No
      </form>
      Is this visual critical to understanding the story?
      <form>
        <input type="radio" name="isCritical" value="yes"> Yes
        <input type="radio" name="isCritical" value="no"> No
      </form>
      Is this going to run inline in an article, or would it make sense as a standalone graphic?
      <form>
        <input type="radio" name="inlineOrStandalone"value="inline"> Inline
        <input type="radio" name="inlineOrStandalone" value="standalone"> Standalone
      </form>
      Which of the following do the project seems like it requires the most?
      <form>
        <input type="radio" name="graphicsGroup" value="drawing"> Drawing
        <input type="radio" name="graphicsGroup" value="dataAnalysis"> Data Analysis
        <input type="radio" name="graphicsGroup" value="design"> Design
        <input type="radio" name="graphicsGroup" value="notSure"> Not Sure
      </form>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>